@model BasketProduct

<div class="p-3 mb-2 basket-product">
	<img style="width: 100px;
            height: 100px;
            margin-right: 10px" src="@Model.PictureUrl" />
	<div style="flex: 1;">
		<p class="text-product">Name: @Model.ProductName</p>
		<p class="text-product">Price: <b style="color: limegreen">$</b><b>@Model.ProductPrice</b></p>
		<p class="text-product">Brand: @Model.ProductBrand</p>
		<p class="text-product">Type: @Model.ProductType</p>
		<p class="text-product">Available stock: @Model.AvailableStock</p>
		<p class="text-product">Amount: @Model.Amount</p>
		<p class="text-product">Description: @Model.ProductDescription</p>
	</div>
	<form method="post" asp-controller="Basket" asp-action="DeleteProduct">
		<input type="hidden" name="productId" value="@Model.ProductId" />
		<button type="submit" style="border: none;
			background: none;">
			<i class="bi bi-arrow-left-short" style="font-size: 23px;
			"></i>
		</button>
	</form>
	<div  style="display:flex; align-items:end; justify-content:end">
		Amount: @Model.Amount
	</div>
	<form method="post" asp-controller="Basket" asp-action="AddProduct">
		<input type="hidden" name="productId" value="@Model.ProductId" />
		<input type="hidden" name="amount" value="1" />
		<input type="hidden" name="productName" value="@Model.ProductName" />
		<input type="hidden" name="productDescription" value="@Model.ProductDescription" />
		<input type="hidden" name="productPrice" value="@Model.ProductPrice" />
		<input type="hidden" name="pictureUrl" value="@Model.PictureUrl" />
		<input type="hidden" name="productBrand" value="@Model.ProductBrand" />
		<input type="hidden" name="productType" value="@Model.ProductType" />
		<input type="hidden" name="availableStock" value="@Model.AvailableStock" />
		<button type="submit" style="border: none;
			background: none;">
			<i class="bi bi-arrow-right-short" style="    font-size: 23px;
			"></i>
		</button>
	</form>
	
</div>